body{background:url(../images/clothes_02.png) repeat-x;}
.more{float:right;width:49px;height:19px;line-height:20px;margin:2px 0 0 27px;text-align:center;color:#fff;font-size:12px;border-radius:3px 3px 0 0;}
.save-channal{width:49px;height:75px;position:fixed;top:248px;right:80px;}
.sugest{width:49px;height:41px;position:fixed;top:327px;right:80px;}
.wedding{width:992px;margin:0 auto;}
.w-header{width:992px;overflow: hidden;}
.w-header .layer1{width:992px;overflow: hidden;}
.w-header .layer1 span{float: left;line-height:26px;width:240px;color:#000;font-size: 14px;font-family: "宋体";}
.w-header .layer1 span a{margin-left:6px;line-height:26px;color:#656565;font-size: 14px;font-family: "宋体";}
.w-header .layer1 span a:hover{color:#13c1f3;}
.w-header .layer1 ul{width:650px;float: left;overflow: hidden;}
.w-header .layer1 ul li{float: left;padding-left:6px;font-size: 14px;line-height:26px;}
.w-header .layer1 ul li b{font-weight:normal;}
.w-header .layer1 ul .shoppingcar i{margin:6px 6px 0 0;display:block;float:left;width:14px;height:13px;background:url(../images/shop-car_02.png) no-repeat;}
.w-header .layer1 ul .searchs i{margin:6px 5px 0 0;display:block;float:left;width:12px;height:13px;background:url(../images/search1_01.png) no-repeat;}
.w-header .layer1 ul li a{float:left;color:#666;font-size: 14px;font-family: "宋体";margin-right:5px;}
.w-header .layer1 ul li em{float:left;margin:12px 10px 0 5px;width:0;height:0;border:4px solid #676767; border-bottom: none;border-left:4px solid #eeeeee;border-right:4px solid #eeeeee;}
.w-header .layer1 ul .active{background:#fff;border: 1px solid #d8d8d8;margin-top:3px;height:19px;line-height: 19px;padding-left:5px;}
.w-header .layer1 ul .active i{margin-top:2px;}
.w-header .layer1 ul .active b{display: none;}
.w-header .layer1 ul .active em{margin-top:9px;border-left:4px solid #fff;border-right:4px solid #fff;}
.w-header .layer1 ul li p{display:none;background:#fff;position:absolute;border:1px solid #ccc;border-top:none;width:85px;margin:22px 0 0 -10px;padding-left:10px;}
.w-header .layer1 ul  p span{display:block;}
.w-header .layer1 ul  p a{font-size:12px;color:#000;}
.w-header .layer1 ul  p a:hover{color:red;}

.w-header .layer2{clear:both;width:992px;overflow: hidden;}
.w-header .layer2 .logo{float:left;width:201px;height:35px;margin-top:25px;}
.w-header .layer2 .market{float:left;width:140px;margin: 36px 0 0 10px;position: relative;}
.w-header .layer2 .market span{width:140px;line-height:20px;line-height:20px;font-size:14px;}
.w-header .layer2 .market  img{margin:7px 0 0 5px;; width:13px;height:13px;}
.w-header .layer2 .search-all{width:584px;float:left;overflow: hidden;margin:11px 0 0 50px; }
.w-header .layer2 .search-all .form1{width:584px;}
.w-header .layer2 .search-all .form1 ul{width:120px;}
.w-header .layer2 .search-all .form1 ul li{float:left;width:55px;height:20px;text-align: center;}
.w-header .layer2 .search-all .form1 ul .active{color:#fefffd;background: #f37b03;}
.w-header .layer2 .search-all .form1 ul li a{color:#404040;font-size: 14px;font-family: "宋体";}
.w-header .layer2 .search-all .form1 .ss{width:584px;clear:both;}
.w-header .layer2 .search-all .form1 .ss .key{background:url(../images/wedding_06.png ) no-repeat 6px 5px;width:475px;height:22px;border: 3px solid #f47a0b;float:left;}
.w-header .layer2 .search-all .form1 .ss .sear{float:left;width:101px;height:28px;border: 1px solid #d15205;border-radius:0 5px 5px 0;color:#fafbeb;line-height: 26px;background: #f99815;}

.w-header .menu{width:992px;overflow: hidden;clear:both;margin-top:16px;}
.w-header .menu ul{overflow: hidden;}
.w-header .menu ul li{float: left;width:70px;line-height:28px;text-align: center;font-size: 14px;}
.w-header .menu ul .active{height:29px;background: url(../images/menu-li_03.png ) no-repeat;}
.w-header .menu  .con{width:992px;}
.w-header .menu  .con .subnav{width:992px;}
.w-header .menu .sub p{margin-top:8px;width:630px;float:left;}
.w-header .menu .sub p a{padding-left:6px;display:block;float:left;border-right: 1px dashed #afafaf;height:17px;line-height: 17px;text-align: center;color:#404040;font-size: 14px;font-weight: bold;}
.w-header .menu .sub p a span{display:block;float:left;padding: 0 12px 0 6px;}
.w-header .menu .sub p a:hover{height:17px;line-height:17px;background: url(../images/menu-hover_01.png ) no-repeat left top;}
.w-header .menu .sub p a:hover span{line-height:17px;height:17px;color:#dd2a00;background:url(../images/menu-hover_02.png ) no-repeat right top;}
.w-header .menu .sub .hot{margin-left:40px;float:left;width:280px;line-height:34px;}
.w-header .menu .sub .hot a{color:#818181;font-size: 14px;margin-left:10px;}
.w-header .menu .sub .hot .secure{background: url(../images/clothes_17.png ) no-repeat 2px 2px;padding-left:20px; }
.w-header .menu .sub .hot a:hover{color:#eb11a1;}
.w-header .menu .sub .form2{clear:both;overflow: hidden;width:992px;border-top: 1px dashed #d7d7d7;padding-top:4px;}
.w-header .menu .sub .form2 h4{float:left;width:80px;height:22px;background:#f9f9fb;border: 1px solid #e1e1e1;}
.w-header .menu .sub .form2 h4 b{padding-left:4px;line-height:22px;font-size: 14px;font-style:normal;color:#404040;}
.w-header .menu .sub .form2 h4 em{float:right;display:block;margin: 10px 3px 0 0;width:0;height:0;border: 4px solid #94919c;border-left: 4px solid #f9f9f9;border-right: 4px solid #f9f9f9;border-bottom: none;}
.w-header .menu .sub .form2 ul{clear:both;position:absolute;z-index:7;margin-top:23px;width:78px;border: 1px solid #817f87;border-top:none;display:none;background:#f9f9fb;overflow: hidden;}
.w-header .menu .sub .form2 ul li{color:#747474;font-size:12px;}
.w-header .menu .sub .form2 ul li:hover{color:#4d17de;}
.w-header .menu .sub .form2 .key{float:left;width:172px;height:22px;border: 1px solid #e1e1e1;border-left: none;}
.w-header .menu .sub .form2 .sear{float:left;margin-left:5px;background:#f1f1f1;color:#dd4a64;font-size:14px;font-weight:bold;text-align:center;width:55px;height:22px;border: 1px solid #e1e1e1;border-left: none;}
.w-header .menu .sub .form2 span{color:#808080;line-height: 24px;margin-left:10px;font-size: 12px;}
.w-header .menu .sub .form2 span a{color:#808080;margin-left:10px;}
.w-header .menu .sub .form2 span a:hover{text-decoration: underline;}

.w-main{width:992px;overflow: hidden;clear:both;margin-top:9px;}
.w-main .main-top{width:992px;overflow: hidden;}
.w-main .main-top .left{float:left;width:186px;overflow: hidden;border:2px solid #c6c6c6;border-bottom: none; }
.w-main .main-top .left .channal{position:absolute;width:190px;height:64px;margin: -2px 0 0 -2px;}
.w-main .main-top .left .clothes{margin-left:8px;width:168px;}
.w-main .main-top .left .clothes .wedding-logo{width:168px;height:62px;}
.w-main .main-top .left .clothes ul{width:168px;margin-top:12px;}
.w-main .main-top .left .clothes ul li{width:168px;background:url(../images/clothes_36.png ) no-repeat 4px 7px;padding-left:14px;line-height:20px;border-bottom: 1px solid #f1f1f1;float:left;}
.w-main .main-top .left .clothes ul li a{font-size:12px;color:#404040;}
.w-main .main-top .left .clothes ul li a:hover{color:#14e919;}
.w-main .main-top .left .wedding-dress{margin-top:84px;}
.w-main .main-top .left .dress{margin-top:46px;}
.w-main .main-top .left .cheongsam{margin-top:50px;}
.w-main .main-top .left .left-bottom{position:absolute;margin:110px 0 0 -192px;width:190px;height:32px;}

.w-main .main-top .right{float:left;width:792px;overflow: hidden;margin:12px 0 0 9px;}
.w-main .main-top .right .lunbo{float:left;width:540px;overflow:hidden;position:relative;}
.w-main .main-top .right .lunbo .list{float:left;width:539px;height:290px;overflow:hidden;}
.w-main .main-top .right .lunbo .list li{width:539px;height:290px;opacity:0;overflow:hidden;filter:alpha(opacity=0);position:absolute;left:0;top:0;}
.w-main .main-top .right .lunbo .list .current{opacity:1;filter:alpha(opacity=100);}
.w-main .main-top .right .lunbo .count{right:2px;bottom:7px;overflow:hidden;position:absolute;}
.w-main .main-top .right .lunbo .count li{float:left;width:20px;height:20px;border-radius:20px;margin-right:3px;color:#3f3f3f;background:#fff;line-height:20px;text-align: center;}
.w-main .main-top .right .lunbo .count .cur{color:#fff;background:#000;margin-right:4px;}

.w-main .main-top .right .hot-half{float:left;width:239px;margin-left:12px;}
.w-main .main-top .right .hot-half h4{width:180px;color:#808080;line-height: 20px;margin-left:36px;font-size:14px;}
.w-main .main-top .right .hot-half span{display:block;width:236px;margin-left:2px;color:#808080;line-height: 20px;font-size:12px;}
.w-main .main-top .right .hot-half .hot{width:239px;height:246px;background: url(../images/hot-box_03.png ) no-repeat;}
.w-main .main-top .right .hot-half .hot h5{float:left;width:82px;margin-left:10px;color:#292929;line-height:50px;font-size:18px;font-family: "微软雅黑";}
.w-main .main-top .right .hot-half .hot span{float:left;width:140px;}
.w-main .main-top .right .hot-half .hot span b{float:left;color:#808080;line-height: 50px;font-size:12px;}
.w-main .main-top .right .hot-half .hot span em{float:left;margin:15px 0 0 3px;text-align:center;width:81px;height:20px;background:url(../images/time-bg_03.png) no-repeat;color:#fff;line-height: 23px;font-size:12px;font-style: normal;}
.w-main .main-top .right .hot-half .hot .hot-con{width:239px;}
.w-main .main-top .right .hot-half .hot .hot-con .hot-dress{width:120px;height:186px;margin-left:12px;float:left;}
.w-main .main-top .right .hot-half .hot .hot-con .introduce{width:96px;height:186px;margin-left:11px;float:left;}
.w-main .main-top .right .hot-half .hot .hot-con .introduce span{width:90px;line-height: 20px;color:#404040;font-size: 12px;}
.w-main .main-top .right .hot-half .hot .hot-con .introduce del{width:96px;line-height: 20px;color:#808080;font-size: 12px;}
.w-main .main-top .right .hot-half .hot .hot-con .introduce em{width:96px;line-height: 20px;color:#404040;font-size: 12px;font-style: normal;}
.w-main .main-top .right .hot-half .hot .hot-con .introduce em b{width:96px;line-height: 36px;color:#de4a66;font-size: 18px;}
.w-main .main-top .right .hot-half .hot .hot-con .introduce .treasure{margin-top:6px;width:84px;height:84px;}

.w-main .main-top .right .new{margin-top:16px;width:792px;overflow: hidden;}
.w-main .main-top .right .new h3{width:792px;border-bottom: 2px solid #cfccd7;height:34px;}
.w-main .main-top .right .new h3 img{position:absolute;margin-top:7px;width:121px;height:29px;}
.w-main .main-top .right .new h3 .today{line-height:34px;color:#de4a85;margin-left:123px;font-size:16px;}
.w-main .main-top .right .new h3 .new-shop{line-height:34px;color:#828282;margin-left:280px;font-size:12px;}
.w-main .main-top .right .new h3 .new-shop em{color:#ab6178;font-style: normal;}
.w-main .main-top .right .new .new-dress{margin-top:13px;overflow: hidden;width:992px;}
.w-main .main-top .right .new .new-dress ul{width:992px;overflow: hidden;}
.w-main .main-top .right .new .new-dress ul li{width:194px;float:left;margin-right:2px;position:relative;}
.w-main .main-top .right .new .new-dress ul li p{width:194px;height:306px;display:none; position: absolute;top:0; left:0;background:rgba(0,0,0,0.6);}
.w-main .main-top .right .new .new-dress ul li .active{width:194px;height:306px;display:block;background:rgba(0,0,0,0); position: absolute;top:0; left:0;}
.w-main .main-top .right .new .new-dress ul li a img{width:194px;height:306px;}
.w-main .main-top .right .new .new-dress ul li .shop-name{width:160px;display: block;color:#414141;line-height: 30px;}
.w-main .main-top .right .new .new-dress ul li .popularity {width:194px;display: block;color:#818181;line-height: 30px;}
.w-main .main-top .right .new .new-dress ul li .popularity b{margin-right:8px;float:left;width:29px;height:31;display: block;color:#dd4a66;line-height: 15px;font-size:12px;border: 1px solid #ffdbe5;border-radius:5px;text-align:center;}
.w-main .main-top .right .new .new-dress ul li .popularity em{color:#3f3f3f;line-height: 20px;font-style:normal;}

.w-main .main-center{width:992px;overflow: hidden;float:left;margin-top:20px;}
.w-main .main-center  .title{width:990px;border-bottom: 2px solid #cfccd7;overflow: hidden;}
.w-main .main-center  .title img{width:190px;position:absolute;margin-top:-4px;}
.w-main .main-center  .title .pic-logo{height:31px;margin-top:-8px;}
.w-main .main-center  .title kind{line-height:20px;}
.w-main .main-center  .title .kind a{font-size:12px;color:#808080;}
.w-main .main-center  .title .kind a:hover{color:#cbf312;}
.w-main .main-center .content{width:992px;overflow: hidden;margin-top:10px;}
.w-main .main-center  .brand{width:992px;background:#f5f5f5;overflow: hidden;margin-top:15px;}
.w-main .main-center  .brand h4{float:left;width:26px;background: #cccccc;color:#fcfcfc;font-size:18px;font-family: "方正兰亭黑_GBK";line-height: 20px;padding-top:18px;text-align: center;}
.w-main .main-center  .brand ul{float:left;margin:11px 0 0 14px;width:937px;overflow: hidden;}
.w-main .main-center  .brand ul li{width:73px;float:left;margin-right:23px;text-align: center;}
.w-main .main-center  .brand ul .last{margin:0;}
.w-main .main-center  .brand ul li a img{width:73px;height:71px;}
.w-main .main-center  .brand ul li span{color:#808080;font-size:12px;line-height:26px;}

.w-main .main-center  span h4{width:84px;height:47px;position:absolute;bottom:0;right:0;}
.w-main .main-center  span h4 .word{display:block;height:22px;line-height:22px;background:#fdfcfd;text-align: center;color:#000;font-size:14px;}
.w-main .main-center  span h4 .price{display:block;height:25px;line-height:25px;background:#da546d;text-align: center;color:#fff;font-size:14px;}

.w-main .main-center .wedding-show{width:992px;overflow: hidden;}
.w-main .main-center .wedding-show .title img{height:27px;margin-top:-4px;}
.w-main .main-center .wedding-show .title .kind{margin-left:480px;}
.w-main .main-center .wedding-show .title .more1{background: #c4c1ca;}
.w-main .main-center .wedding-show .w-dress{margin-top:10px;width:992px;overflow: hidden;}
.w-main .main-center .wedding-show .w-dress .dre{width:992px;}
.w-main .main-center .wedding-show .w-dress .dre span{float:left;display:block;position:relative;}
.w-main .main-center .wedding-show .w-dress .dre .span{margin-top:2px;}
.w-main .main-center .wedding-show .w-dress .dre  img{margin-right:2px;}
/*.w-main .main-center .wedding-show .w-dress .dre  .img1{height:340px;}
.w-main .main-center .wedding-show .w-dress .dre  .img2{height:130px;}*/
.w-main .main-center .wedding-show .w-dress .dre span  .w-dress1{width:194px;height:340px;}
.w-main .main-center .wedding-show .w-dress .dre span  .w-dress2{width:190px;height:340px;}
.w-main .main-center .wedding-show .w-dress .dre span  .w-dress3{width:398px;height:340px;}
.w-main .main-center .wedding-show .w-dress .dre span  .w-dress4{width:202px;height:340px;}
.w-main .main-center .wedding-show .w-dress .dre span .w-dress5{width:332px;height:130px;}
.w-main .main-center .wedding-show .w-dress .dre span .w-dress6{width:327px;height:130px;}
.w-main .main-center .wedding-show .w-dress .dre span  em{display:none;position:absolute;top:0;left:0;background:rgba(0,0,0,0.6);}
.w-main .main-center .wedding-show .w-dress .dre span  .active{display:block;position:absolute;top:0;left:0;background:rgba(0,0,0,0);}

.w-main .main-center .dress-show{width:992px;overflow: hidden;margin-top:14px;float:left;}
.w-main .main-center .dress-show .title .kind{margin-left:560px;}
.w-main .main-center .dress-show .title .more2{background: #e15b75;}
.w-main .main-center .dress-show .dress-con{width:992px;overflow: hidden;margin-top:10px;}
.w-main .main-center .dress-show .dress-con  span{display:block;position:relative;}
.w-main .main-center .dress-show .dress-con  span em{position:absolute;top:0;left:0;clear:both;display:none;background:rgba(0,0,0,0.6);z-index:10;}
.w-main .main-center .dress-show .dress-con  span .active{display:block;background:rgba(0,0,0,0);}
.w-main .main-center .dress-show .dress-con .dress-left{float:left;width:399px;height:523px;}
.w-main .main-center .dress-show .dress-con .dress-left span .dress1{width:399px;height:323px;}
.w-main .main-center .dress-show .dress-con .dress-left span .dress2{margin-top:2px;width:399px;height:198px;}
.w-main .main-center .dress-show .dress-con .dress-center{margin-left:2px;width:188px;height:523px;float:left;}
.w-main .main-center .dress-show .dress-con .dress-center span .dress3{width:188px;height:523px;}
.w-main .main-center .dress-show .dress-con .dress-right{margin-left:2px;float:left;width:400px;}
.w-main .main-center .dress-show .dress-con .dress-right .right1{width:400px;height:198px;}
.w-main .main-center .dress-show .dress-con .dress-right .right1 span .dress4{width:400px;height:198px;}
.w-main .main-center .dress-show .dress-con .dress-right .right2{float:left;margin-top:2px;width:207px;height:323px;}
.w-main .main-center .dress-show .dress-con .dress-right .right2 span .dress5{width:207px;height:323px;}
.w-main .main-center .dress-show .dress-con .dress-right .right3{float:left;margin:2px 0 0 2px;width:191px;height:323px;}
.w-main .main-center .dress-show .dress-con .dress-right .right3 span .dress6{width:191px;height:323px;}


.w-main .main-center .cheongsam-show{width:992px;overflow: hidden;margin-top:14px;float:left;}
.w-main .main-center .cheongsam-show .title .kind3{margin-left:590px;}
.w-main .main-center .cheongsam-show .title .more1{background: #c4c1ca;}
.w-main .main-center .cheongsam-show .cheongsam-con  span{display:block;position:relative;}
.w-main .main-center .cheongsam-show .cheongsam-con  span em{position:absolute;top:0;left:0;clear:both;display:none;background:rgba(0,0,0,0.6);z-index:10;}
.w-main .main-center .cheongsam-show .cheongsam-con  span .active{display:block;background:rgba(0,0,0,0);}

.w-main .main-center .cheongsam-show .cheongsam-con .dress-left{float:left;width:190px;height:523px;}
.w-main .main-center .cheongsam-show .cheongsam-con .dress-left .cheongsam1{width:190px;height:323px;}
.w-main .main-center .cheongsam-show .cheongsam-con .dress-left .cheongsam2{width:190px;height:198px;margin-top:2px;}

.w-main .main-center .cheongsam-show .cheongsam-con .dress-center{margin-left:2px;float:left;width:408px;height:523px;}
.w-main .main-center .cheongsam-show .cheongsam-con .dress-center .cheongsam3{width:408px;height:266px;}
.w-main .main-center .cheongsam-show .cheongsam-con .dress-center .cheongsam4{width:408px;height:255px;margin-top:2px;}

.w-main .main-center .cheongsam-show .cheongsam-con .dress-right{margin-left:2px;float:left;width:390px;height:523px;}
.w-main .main-center .cheongsam-show .cheongsam-con .dress-right .right1{float:left;width:194px;height:523px;}
.w-main .main-center .cheongsam-show .cheongsam-con .dress-right .right1 .cheongsam5{width:194px;height:523px;}
.w-main .main-center .cheongsam-show .cheongsam-con .dress-right .right2{margin-left:2px;float:left;width:194px;height:522px;}
.w-main .main-center .cheongsam-show .cheongsam-con .dress-right .right2 .cheongsam6{width:194px;height:522px;}

.w-main .main-bottom{width:992px;overflow: hidden;clear:both;margin-top:15px;}
.w-main .main-bottom .cloth-kind{width:992px;}
.w-main .main-bottom .cloth-kind li{width:246px;border: 1px solid #e8e8e8;float:left;}
.w-main .main-bottom .cloth-kind .lovers-cloth{width:247px;border-left:none;}
.w-main .main-bottom .cloth-kind  .wear{border-left: none;border-right: none;}
.w-main .main-bottom .cloth-kind li a img{width:246px;height:130px;}
.w-main .main-bottom .cloth-kind .lovers-cloth a img{width:247px;height:130px;}
.w-main .main-bottom .news-message{width:990px;float:left;overflow: hidden;margin-top:14px;background: #e5e5e5;}
.w-main .main-bottom .news-message .three-show{width:960px;margin:29px 0 0 27px;overflow: hidden;}
.w-main .main-bottom .news-message .three-show li{width:290px;margin-right:30px;float:left;}
.w-main .main-bottom .news-message .three-show li a img{width:290px;height:75px;}
.w-main .main-bottom .news-message .three-show li span{position:absolute;margin-top:-4px;width:290px;height:23px;display: block;text-align:center;background:#989898;color:#fff;line-height:23px;}
.w-main .main-bottom .news-message .notice{width:956px;margin:19px 0 0 22px;overflow: hidden;}
.w-main .main-bottom .news-message .notice li{width:190px;float:left;margin-right:60px;}
.w-main .main-bottom .news-message .notice .advice{margin-bottom:20px;margin-right:0;}
.w-main .main-bottom .news-message .notice li strong{width:190px;float:left;border-bottom:1px solid #c9c9c9; line-height:32px;color:#404040;font-size:14px;}
.w-main .main-bottom .news-message .notice li span{display: block;width:190px;line-height:20px;color:#404040;font-size:12px;}
.w-main .main-bottom .news-message .notice li span a{color:#404040;font-size:12px;}
.w-main .main-bottom .news-message .notice li span a:hover{color:#171aa5;}

.w-footer{clear:both;width:992px;overflow:hidden;margin-top:16px;border-top: 1px solid #d1d7dc;padding-top:8px;text-align:center;}
.w-footer .last-menu{}
.w-footer .last-menu a{line-height:20px;color:#3366cc;margin-left:12px;font-size:12px;}
.w-footer .last-menu .about-taobao{margin-left:0;}
.w-footer .last-menu a:hover{color:#7b2b18;}
.w-footer ul{width:910px;overflow: hidden;margin-left:80px;}
.w-footer ul li{margin-left:8px;line-height: 20px;float:left;}
.w-footer ul .ali{margin-left:0;color:#3366cc;font-size:12px;}
.w-footer ul .ali span{color:#404040;}
.w-footer ul li a{color:#3366cc;font-size:12px;}
.w-footer ul li a:hover{color:#387c20;}
.w-footer .banquan{color:#6464a6;line-height: 20px;font-size:12px;}
.w-footer .banquan em{color:#404040;font-style: normal;}





