body,h1,h2,h3,h4,h5,p,input,button,form,ul,li,table{margin: 0;padding: 0;}
li{list-style: none;}
img{border: 0 none;}
a{text-decoration: none;}
body{background:url(../images/body-bg_01.png) repeat-x;}
.swimwear{width:1099px;overflow: hidden;margin: 0 auto;}
.s-header{width:1084px;overflow: hidden;}
.s-header .ul1{float:left;width:338px;height:34px;margin:2px 0 0 0;}
.s-header .ul1 li{float:left;height:34px;line-height:34px;text-align:center;color:#363636;font-size:12px;}
.s-header .ul1 .sy{width:28px;}
.s-header .ul1 .line1{width:20px;}
.s-header .ul1 .welcome{width:210px;}
.s-header .ul1 .line2{width:20px;}
.s-header .ul1 .exit{width:60px;}
.s-header .ul1 li a{color:#363636;}
.s-header .ul1 li a:hover{color:#11cfbb;}
.s-header .ul2{width:289px;margin: 2px 0 0 430px;float:left;}
.s-header .ul2 li{float:left;color:#010101;font-size:14px;text-align:center;line-height:34px;}
.s-header .ul2 li img{text-align:center;width:8px;height:4px;margin-bottom: 2px;}
.s-header .ul2 li p{display:none;width:100px;background:#eee;border:1px solid #999;position:absolute;}
.s-header .ul2 li p span{display: block;}
.s-header .ul2 li p span a{font-size:12px;color:#000;}
.s-header .ul2 li p span a:hover{color:#20f2af;}
.s-header .ul2 .office{width:103px;border-left: 1px solid #e1e1e1;}
.s-header .ul2 .office p{width:103px;}
.s-header .ul2 .call-center{width:91px;border-left: 1px solid #e1e1e1;border-right: 1px solid #e1e1e1;}
.s-header .ul2 .call-center p{width:91px;}
.s-header .ul2 .website{width:91px;border-right: 1px solid #e1e1e1;}
.s-header .ul2 .website p{width:91px;}
.s-header .two{width:1084px;overflow:hidden;}
.s-header .two .logo{float:left;width:198px;height:98px;margin: 17px 0 0 7px;}
.s-header .two h2{font-weight:600;float:left;width:300px;height:38px;line-height:38px;margin: 48px 0 0 40px;color:#050505;font-size:34px;}
.s-header .two .gc-zx{float:left;width:168px;height:18px;margin: 60px 0 0 94px;}
.s-header .two .gc-zx .gc{float:left;width:67px;height:18px;}
.s-header .two .gc-zx .zixun{float:left;width:76px;height:16px;margin:1px 0 0 3px;}
.s-header .two .gc-zx .xl{float:left;width:15px;height:15px;margin:1px 0 0 6px;}
.s-header .two .number{margin:27px 0 0 45px;width:230px;height:50px;float:left;overflow:hidden;}
.s-header .two .number img{width:37px;height:40px;float:left;margin:5px 0 0 0;}
.s-header .two .number .service{float:left;width:178px;height:50px;margin: 0 0 0 6px;}
.s-header .two .number .service span{margin-top:4px;display:block;color:#313131;font-size:14px;line-height:20px;}
.s-header .two .number .service em{display:block;color:#f97705;font-size:20px;line-height:24px;}

.s-header .xinxi{display:none;width:409px;height:248px;position:absolute;margin:127px 0 0 400px ;border: 1px solid #9c999a;z-index: 99;}
.s-header .xinxi .grey-bg{background:#eeeeee;width:409px;height:108px;}
.s-header .xinxi .grey-bg p{margin-left:20px;color:#757575;line-height:30px;}
.s-header .xinxi .grey-bg .company-name{margin-top:14px;float:left;width:220px;}
.s-header .xinxi .grey-bg .sell{width:80px;}
.s-header .xinxi .grey-bg .zxsj{float:left;width:86px;}
.s-header .xinxi .grey-bg p span{color:#353535;line-height:30px;}
.s-header .xinxi .grey-bg em{float:left;margin:14px 0 0 10px;color:#db4300;line-height:30px;font-style:normal;}
.s-header .xinxi .grey-bg .ren{float:left;margin:22px 0 0 7px;width:19px;height:17px;}
.s-header .xinxi .grey-bg .medal{float:left;margin:22px 0 0 6px;width:14px;height:17px;}
.s-header .xinxi .grey-bg .qq{margin:6px 0 0 8px;float:left;width:92px;height:22px;}

.s-header .xinxi .white-bg{background:#fff;width:409px;height:140px;}
.s-header .xinxi .white-bg .left{margin-left:20px;float:left;width:254px;height:140px;}
.s-header .xinxi .white-bg .left p{width:274px;color:#757575;line-height:30px;}
.s-header .xinxi .white-bg .left p span{width:274px;color:#353535;line-height:30px;}
.s-header .xinxi .white-bg  .mount{margin-left:10px;font-style:normal;float:left;color:#db4300;line-height:30px;}
.s-header .xinxi .white-bg  .mount .five{margin-left:18px;color:#353535;}
.s-header .xinxi .white-bg  .collect{float:left;width:100px;height:30px;}
.s-header .xinxi .white-bg  .code{margin-top:10px;float:left;width:114px;height:114px;}

.s-header .menu{clear:both;width:1084px;height:35px;margin-top:20px;}
.s-header .menu li{width:100px;line-height:35px;float:left;text-align:center;}
.s-header .menu li a{color:#fff;}
.s-header .menu li a:hover{width:100px;float:left;background: #2f2f2f;}

.s-header .banner{position:absolute;width:1890px;height:593px;left:50%;margin-left:-945px;margin-top:-2px;}

.s-main{width:1099px;overflow: hidden;margin-top:593px;}
.s-main .hot{margin-left:10px;width:1076px;overflow: hidden;}
.s-main .hot h2{font-weight:500;width:1075px;height:59px;border-bottom: 1px dashed #adadad;text-align:center;font-size:30px;line-height:60px;}
.s-main .hot table{width:1076px;height:160px;margin-top: 16px;}
.s-main .hot table img{width:204px;height:204px;}
.s-main .hot table td span{display:block;text-align:center;width:204px;line-height:28px;color:#768e9a;}
.s-main .hot table td em{display:block;width:70px;height:22px;margin:2px 0 0 67px;background:#9d445a;line-height:22px;font-size:12px;text-align:center;}
.s-main .hot table td em a{font-style:normal;color:#fff;font-size:12px;}
.s-main .hot table td em a:hover{color:#1923ec;}
.s-main .jianjie{width:1096px;margin-top:45px;}

#box{float:left;position:relative;width:434px;height:274px;}
#box .list{position:relative;width:432px;height:270px;overflow:hidden;}
#box .list li{position:absolute;top:0;left:0;width:490px;height:170px;opacity:0;filter:alpha(opacity=0);}
#box .list li.current{opacity:1;filter:alpha(opacity=100);}
#box .count{position:absolute;right:37px;bottom:18px;}
#box .count li{float:left;width:13px;height:13px;border:1px solid #fff;margin-right:10px;overflow:hidden;opacity:0.7;filter:alpha(opacity=70);}
#box .count li.current{border:none;width:15px;height:15px;opacity:1;filter:alpha(opacity=100);background:#ff5400;}

.s-main .jianjie .company{margin-left:70px;width:570px;float:left;border-left: 1px dashed #d5d5d5;}
.s-main .jianjie .company h4{margin-left:74px;width:76px;height:28px;float:left;color:#666666;}
.s-main .jianjie .company .flower{width:70px;height:28px;float:left;}
.s-main .jianjie .company .wenzi{clear:both;margin-left:74px;width:495px;}
.s-main .jianjie .company .wenzi p{text-indent:32px;font-size:16px;color:#666666;line-height:22px;}
.s-main .jianjie .company .wenzi p span{font-size:16px;color:#b5447e;line-height:22px;}
.s-main .jianjie .company form{width:332px;margin:10px 0 0 74px;}
.s-main .jianjie .company form .key{float:left;width:213px;height:24px;border: 1px solid #cccccc;}
.s-main .jianjie .company form .search{float:left;width:28px;height:26px;background: #9d445a;margin-left:-1px;}
.s-main .jianjie .company form ul{clear:both;width:332px;height:30px;}
.s-main .jianjie .company form ul li{float:left;line-height:30px;margin-right:12px;}
.s-main .jianjie .company form ul li a{color:#346182;font-size:14px;}
.s-main .jianjie .company form ul li a:hover{color:#f60a25;}
.s-main .fashion{float:left;background: #e4e4e4;width:1096px;overflow: hidden;margin-top:31px;}
.s-main .fashion h2{width:220px;height:58px;border-bottom: 1px dashed #898989;margin:15px 0 0 439px;line-height:58px;text-align:center;}
.s-main .fashion table{width:1096px;margin-top:27px;}
.s-main .fashion table img{margin-top:5px;width:268px;height:287px;margin-left:7px;}
.s-main .fashion table .shopping{width:268px;height:63px;background:#e0ebf1;}
.s-main .fashion table .shopping .introduce{float:left;width:200px;height:63px;margin: 10px 0 0 7px;}
.s-main .fashion table .shopping .introduce p{color:#3e6989;width:200px;line-height:20px;font-size:12px;}
.s-main .fashion table .shopping .introduce p span{color:#95293d;line-height:20px;}
.s-main .fashion table .shopping h5{margin-top:7px;letter-spacing:2px;width:49px;height:48px;float:left;background: #ae5068;line-height:22px;text-align:center;}
.s-main .fashion table .shopping h5 a{color:#fff;font-size:16px;}
.s-main .fashion table .shopping h5 a:hover{color:#19d6ec;}
.s-main .butterfly{margin-top:33px;width:1099px;height:341px;}

.s-footer{width:1096px;margin-top:50px;overflow: hidden;}
.s-footer .logo2{float:left;width:201px;height:114px;margin:38px 0 0 11px;}
.s-footer .fuwu{float:left;width:738px;margin:12px 0 0 138px;}
.s-footer .fuwu li{float:left;color:#474747;font-size:16px;line-height:28px;margin-left:80px;}
.s-footer .fuwu .c-jj{margin-left:0;}
.s-footer .fuwu li p span{display:block;font-size:14px;line-height:28px;}
.s-footer .fuwu li p span a{color:#71706c;}
.s-footer .fuwu li p span a:hover{color:#53ee16;}
.s-footer h5{clear:both;margin:10px 0 0 45px;height:20px;width:70px;font-size:12px;line-height:20px;color:#303030;}

.s-footer .youq{margin:4px 0 0 168px;width:780px;height:20px;}
.s-footer .youq li{margin-left:6px;float:left;line-height:20px;}
.s-footer .youq li a{color:#343434;font-size:12px;}
.s-footer .youq li a:hover{color:#1a10ef;}





